.applyBtn {
  position: absolute;
  right: 0;
  padding: 4px 8px;
  background: aliceblue;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.internship-box {
  border-left: 0px;
  transition: 0.15s all linear;
}

.internship-box:hover {
  border-left: 4px solid #81C784!important;
  transition: 0.15s all linear;
}
