body {
  font-family: 'Nunito'!important;
}

h1, h2, h3, h4, h5, h6 {
  color: #555555!important;
  font-weight: 700!important;
}

nav, .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1)!important;
  border: 0!important;
  border-radius: 4px;
}

h5 {
  margin-bottom: 0!important;
}

p {
  font-size: 12px!important;
}

form, p {
  color: #555555!important;
}

/* .source_card {
  border-top: 4px solid blue!important;
} */

.front_image {
  border-bottom-right-radius: 4px!important;
  border-top-right-radius: 4px!important;
}

.front_image_register {
  border-bottom-left-radius: 4px!important;
  border-top-left-radius: 4px!important;
}

a, a:hover {
  text-decoration: none!important;
  /* color: #65B3ED!important; */
}

.gbutton {
  padding: 8px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  font-weight: 700!important;
  width: 40%!important;
  letter-spacing: 1px;
  color: #64B5F6!important;
}

.gbutton_reg {
  margin-top: 12px;
  padding: 8px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  font-weight: 700!important;
  width: 50%!important;
  letter-spacing: 1px;
  color: #64B5F6!important;
}

.gbutton_org_reg {
  margin-top: 12px;
  padding: 8px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  font-weight: 700!important;
  width: 50%!important;
  letter-spacing: 1px;
  background-color: #64B5F6!important;
  color: white!important;
}

.image_classic {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)!important;
  border-radius: 4px!important;
}

.p_classic {
  color: #65B3ED!important;
  font-size: 20px!important;
  font-family: Pacifico!important;
}

.footer {
  background: #65B3ED;
  color: #ffffff;
  text-align: center;
  font-family: Pacifico!important;
  padding: 8px;
}
